#quote-box {
  background: #fff;
  padding: 2em;
  width: 500px;
  border-radius: 3px;
}

#text {
  position: relative;
}

#text::before {
  position: absolute;
  top: -20px;
  left: -30px;
  content: '"';
  font-size: 5em;
}

#author {
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
